<script src="{{STATIC_URL}}javascript/jquery-1.7.2.min.js"></script>
<script src="{{STATIC_URL}}javascript/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}javascript/jquery.tmpl.js"></script>
<script src="{{STATIC_URL}}javascript/jquery.cookie.js"></script>
<script src="{{STATIC_URL}}javascript/jquery.form.js"></script>
<script src="{{STATIC_URL}}javascript/jshint.js"></script>
<script src="{{STATIC_URL}}javascript/beautify.js"></script>
<script src="{{STATIC_URL}}javascript/underscore.js"></script>
<script src="{{STATIC_URL}}javascript/backbone.js"></script>
<script src="{{STATIC_URL}}javascript/keyboard.0.2.2.min.js"></script>
<script src="{{STATIC_URL}}javascript/jquery.pig.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/lib/codemirror.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/javascript/javascript.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/coffeescript/coffeescript.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/xml/xml.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/css/css.js"></script>
<script src="{{STATIC_URL}}javascript/codemirror/mode/pcss/pcss.js"></script>
<script src="{{STATIC_URL}}javascript/fiddle.js"></script>

