.header, #header:
	padding: 5px
	overflow: hidden
	background: url( header.png ) repeat left top
	h1:
		float: left
		width: 200px
		padding: 5px 0
		margin: 0
		font-family: 'Maven Pro', Arial
		letter-spacing: -1px
		font-weight: bold
		font-size: 22px
		a:
			color: #fff
			text-decoration: none

